<section class="container my-3">
    <div class="contact rounded-3 py-3">
        <h3 class="text-center text-light fs-1">Contato</h3>
        <form class="text-light container grid" action="{% url 'send_message' %}" method="POST">{% csrf_token %}
            {% include 'partials/forms/_contact.html' %}
            <div class="mb-3 form-check d-flex">
                <input type="checkbox" class="form-check-input align-self-center" id="checkBox">
                <label class="ps-2 form-check-labelc fs-5" for="checkBox">Guardar dados</label>
            </div>
            <button type="submit" class="btn btn-primary text-uppercase col-3">Enviar</button>
        </form>      
    </div>
</section>