<div class="navbar-nav">
    <a class="fs-5 nav-link font-header" aria-current="page" href="{% url 'home' %}">Home</a>
    <a class="fs-5 nav-link disabled font-header">Produtos</a>
    <a class="fs-5 nav-link font-header" href="{% url 'dashboard' %}">Dashboard</a>
    <a class="fs-5 nav-link font-header" href="{% url 'home' %}">Perfil</a>
    <a class="fs-5 nav-link font-header" data-bs-toggle="modal" data-bs-target="#modal">Contato</a>
    <a class="fs-5 nav-link font-header" href="{% url 'logout' %}">Sair</a>
</div>