{% extends 'partials/_base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/product.css' %}">
{% endblock link %}
{% block title %}Produtos{% endblock title %}
{% block content %}
<section class="container py-4">
    {% for category in categorys %}
    <h3 class="text-primary mt-3 mb-0 pb-0">{{ category }}</h3>
    <article class="row m-0">
        {% for product in products %}
            {% if product.category == category %}
                {% include 'products/product.html' %}
            {% endif %}
        {% endfor %}
    </article>
    {% endfor %}
</section>
{% endblock content %}
