{% load static %}
<div class="card col-6 col-sm-4 col-md-4 my-1 col-lg-4 col-xxl-4 p-0">
    {% if product.image %}
        <img src="{{ product.image.url }}" class="align-self-center image-product" alt="product.name">
    {% else %}
        <img src="{% static 'img/logo.jpg'%}" class="align-self-center image-product" alt="product.name"> 
    {% endif %}
    <div class="card-body pb-0 px-2">
        <a class="btn btn-primary" href="{% url 'landing_page' product.id %}">{{ product.name }}</a>
        <h5 class="card-title text-end">R$ {{ product.price }}</h5>
    </div>
</div>
