<section class="modal fade" id="changePassword" name="changePassword" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <aside class="modal-dialog">
        <article class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alterar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body contact">
                <form class="text-light container grid" method="POST" action="{% url 'set_password' %}">{% csrf_token %}
                    <div class="col-9 mb-1">
                        <label for="currentPassword" class="form-label mb-0 fs-4">Senha atual</label>
                        <input type="password" class="form-control fw-semibold text-primary fs-5 py-0" id="currentPassword" name="currentPassword" required>
                    </div>
                    <div class="col-9 mb-1">
                        <label for="newPassword" class="form-label mb-0 fs-4">Nova senha</label>
                        <input type="password" class="form-control fw-semibold text-primary fs-5 py-0" id="newPassword" name="newPassword" required>
                    </div>
                    <div class="col-9 mb-3">
                        <label for="confirmNewPassword" class="form-label mb-0 fs-4">Confirmar nova senha</label>
                        <input type="password" class="form-control fw-semibold text-primary fs-5 py-0" id="confirmNewPassword" name="confirmNewPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary text-uppercase col-3">Alterar</button>
                </form>      
            </div>
        </article>
    </aside>
</section>