<section class="modal fade" id="changePassword" name="changePassword" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <aside class="modal-dialog">
        <article class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alterar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body contact">
                <form class="text-light container grid" method="POST" action="{% url 'set_password' %}">{% csrf_token %}
                    {% for field in change_password.visible_fields %}
                        <div {% if field.label == '' %} class="d-none" {% else %} class="col-9 mb-2" {% endif %}>
                            <label for="{{ field.id_for_label }}" class="form-label mb-0 fs-4">{{ field.label }}</label>
                            {{ field }}
                            {% include 'partials/_error_messages.html' %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary text-uppercase col-3 mt-1">Alterar</button>
                </form>      
            </div>
        </article>
    </aside>
</section>