<section class="modal fade" id="changePassword" name="changePassword" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <aside class="modal-dialog">
        <article class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alterar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body contact">
                <form class="text-light container grid" method="POST" action="{% url 'set_password' %}">{% csrf_token %}
                    {% include 'partials/forms/_change_password.html' %}
                    <button type="submit" class="btn btn-primary text-uppercase col-3 mt-1">Alterar</button>
                </form>      
            </div>
        </article>
    </aside>
</section>