{% extends 'partials/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block link %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock link %}
{% block title %}Login{% endblock title %}
{% block content %}

<section class="container login py-5 bg-light mb-4" id="login">
    <form class="d-flex justify-content-center form mb-3" method="POST" action="{% url 'login_user' %}">{% csrf_token %}
        <div class="mask bg-dark rounded-2">
            <fieldset class="rounded-2 text-light form-content d-flex bg-primary bg-opacity-25 p-4 rounded flex-column justify-content-center">
                <legend class="form-item text-center d-flex justify-content-center">
                    <img src="{% static 'img/icon-login.svg' %}" alt="Login icon" class="login-icon">
                </legend>
                {% for field in form.visible_fields %}
                    <div class="form-item pb-3">
                        <label class="form-label fw-semibold m-0" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control text-light fst-italic form-input fw-semibold' }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger m-0 mt-1 p-0">
                                    <p class="m-0 p-1">{{ error }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="mb-3 form-check d-flex justify-content-between">
                    <div>
                        <input type="checkbox" class="form-check-input" id="checkBox">
                        <label class="form-check-label fw-semibold" for="checkBox">Salvar dados</label>
                    </div>
                </div>
                <button type="submit" class="fw-semibold btn btn-primary mb-2 align-self-center form-btn">Logar</button>
                <div class="d-flex justify-content-around pt-4">
                    <a class="text-light" href="#">Esqueceu sua senha?</a>
                    <a class="text-light" href="{% url 'register' %}">Ainda não possui conta?</a>
                </div>
            </fieldset>
        </div>
    </form>
</section>
{% endblock %}