{% extends 'partials/_base.html' %}
{% load static %}
{% block link %}
  <link href="{% static 'styles/profile.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}Meu perfil{% endblock title %}
{% block content %}
    {% include 'partials/_message.html' %}
    <div class="container my-3">
      <form action="{% url 'update_profile' %}" class="formulario mt-4" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {% if client.image %}
          <figure class="d-flex justify-content-center">
              <img class="align-self-center rounded-5 image-user" src="{{ client.image.url }}" alt="Icone de Usuário">
          </figure>
        {% else %}
          <figure class="d-flex justify-content-center">
              <img class="align-self-center rounded-5 image-user" src="{% static 'img/user-pattern.svg' %}" alt="Icone de Usuário">
          </figure>
        {% endif %}
        <div class="mb-3">
          <label for="img" class="form-label fw-semibold fs-5">Alterar Foto de Perfil</label>
          <input type="file" class="form-control" placeholder="Sua foto" name="img">
          <p class="text-info">Melhor formato: 1024x1024</p>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="email" class="form-label fw-semibold fs-5">Seu Nome</label>
                <input type="text" class="form-control fw-semibold" placeholder="Nome" name="firstName" value="{{ client.first_name }}" required>
            </div>
            <div class="col">
                <label for="email" class="form-label fw-semibold fs-5">Seu Sobrenome</label>
                <input type="text" class="form-control fw-semibold" placeholder="Sobrenome" name="lastName" value="{{ client.last_name }}" required>
            </div>
        </div>
        <div class="row mb-3">
          <div class="col">
              <label for="username" class="form-label fw-semibold fs-5">Nome de usuário</label>
              <input type="text" class="form-control fw-semibold" placeholder="Seu nome de usuário" name="username" value="{{ client.username }}" required>
          </div>
          <div class="col">
              <label for="email" class="form-label fw-semibold fs-5">Email</label>
              <input type="email" class="form-control fw-semibold" id="email" placeholder="Seu email" name="email" value="{{ client.email }}" readonly>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Salvar</button>
    </form>
  </div>
{% endblock content %}