{% extends 'partials/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block link %}
  <link href="{% static 'styles/profile.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}Meu perfil{% endblock title %}
{% block content %}
    <div class="container my-3">
      <form action="{% url 'update_profile' %}" class="formulario mt-4" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {% if form.instance.image %}
          <figure class="d-flex justify-content-center">
              <img class="align-self-center rounded-5 image-user" src="{{ form.instance.image.url }}" alt="Icone de Usuário">
          </figure>
        {% else %}
          <figure class="d-flex justify-content-center">
              <img class="align-self-center rounded-5 image-user" src="{% static 'img/user-pattern.svg' %}" alt="Icone de Usuário">
          </figure>
        {% endif %}
        <div class="row">
          {% for field in form %}
            {% if field.name == 'image' %}
              <div class="col-12 mb-3">
                <label for="{{ field.id_for_label }}" class="form-label fw-semibold fs-5">{{ field.label }}</label>
                <div class="">
                  {{ field|add_class:'form-control fw-semibold' }}
                </div>
                {% for error in field.errors %}
                  <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
                <p class="text-info m-0">Melhor formato: 1024x1024</p>
              </div>
            {% else %}
              <div class="col-6 mb-3">
                <label for="{{ field.id_for_label }}" class="form-label fw-semibold fs-5">{{ field.label }}</label>
                {{ field|add_class:'form-control fw-semibold' }}
                {% include 'partials/_error_messages.html' %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <a type="button" class="fs-5 nav-link my-3 text-secondary fw-semibold" data-bs-toggle="modal" data-bs-target="#changePassword">Alterar senha</a>
        <button type="submit" class="btn btn-success btn-lg">Salvar</button>
    </form>
  </div>
  {% include 'user/change_password.html' %}
{% endblock content %}