{% extends 'partials/_base.html' %}
{% load static %}
{% block link %}
  <link href="{% static 'styles/profile.css' %}" rel="stylesheet">
{% endblock link %}
{% block title %}Meu perfil{% endblock title %}
{% block content %}
    <div class="container my-3">
      {% if form.instance.image %}
        <figure class="d-flex justify-content-center">
            <img class="align-self-center rounded-5 image-user" src="{{ form.instance.image.url }}" alt="Icone de Usuário">
        </figure>
      {% else %}
        <figure class="d-flex justify-content-center">
            <img class="align-self-center rounded-5 image-user" src="{% static 'img/user-pattern.svg' %}" alt="Icone de Usuário">
        </figure>
      {% endif %}
      <form action="{% url 'update_profile' %}" class="formulario mt-4" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
          {% include 'partials/forms/_profile.html' %}
        </div>
        <a type="button" class="fs-5 nav-link my-3 text-secondary fw-semibold" data-bs-toggle="modal" data-bs-target="#changePassword">Alterar senha</a>
        <button type="submit" class="btn btn-success btn-lg">Salvar</button>
    </form>
  </div>
  {% include 'user/change_password.html' %}
{% endblock content %}